{% extends "navigation.html" %}


{% block content %}

{% set foundAppointment = namespace(found=False) %}
{% set i = namespace(number = 0) %}


<table>
    <tr>
        <td>Heure</td>
        {% for day in weekdays %}
        <td>{{day[0]}}</td>
        {% endfor %}
    </tr>



    {% for time in times %}
    <tr>
        <td> {{time.strftime("%H:%M")}}</td>
        {% for day in weekdays %}
        {% if appointments == [] %}
        <td style="background-color: red;"> <a href="/appointment/{{day[1].date()}}/{{time.time()}}/{{userId}}">
                aucun rdv</a></td>
        {% else %}





        {% for app in appointment %}

            {% if app.time_start.date() == day[1].date() and app.time_start.time() == time.time() %}
            {% set foundAppointment.found = True %}
            {% if confirmation[i.number]  %}
            <td style="background-color: green;">{{ app.title}} <br>
                Date:{{ app.time_start.day }}/{{app.time_start.month}}/{{app.time_start.year}} <br>
                Heure: {{app.time_start.time()}} - {{app.time_end.time()}} </td>
            {% elif not confirmation[i.number]  %}
            <td style="background-color: blue;">{{ app.title}} <br>
                Date:{{ app.time_start.day }}/{{app.time_start.month}}/{{app.time_start.year}} <br>
                Heure: {{app.time_start.time()}} - {{app.time_end.time()}} </td>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% if not foundAppointment.found %}
            <td style="background-color: red;"> <a href="/appointment/{{day[1].date()}}/{{time.time()}}/{{userId}}">Prendre
                    rendez-vous</a></td>
            {% endif %}
            {% set foundAppointment.found=False %}
            {% endif %}
            {% set i.number = (i.number+1) %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}