{% extends "navigation.html" %}



{% block content %}



    <h1>Bievenue au Calendrier Interactif</h1>
    <form action="/" method="POST">
        {{ form.hidden_tag() }}
        {{form.InputString.label}}
        {{ form.InputString() }}
        {{ form.submit()}}


    </form>
    {% if noUser==True %}
        <h2>No user found</h2>

    {% else %}
        {% for user in foundUsers %}
            {% if user.id == currentuserId %}
                <h2>You can not make an appointment with yourself</h2>
            {% else %}
                <a href="/user/{{user.id}}">{{user.username}}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}