{% extends "navigation.html" %}



{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info"><h2>{{ message }}</h2></div>
    {% endfor %}
    {% endif %}
    {% endwith %}


            <form action="/login" method="POST">
                {{ form.hidden_tag() }}
                {{ form.username.label}}
                {{ form.username() }}
                {{ form.password.label}}
                {{ form.password() }}
                {{ form.remember.label}}
                {{ form.remember() }}
                {{ form.submit()}}


            <br>
            <br>
            <br>
            <br>
            <br>
            <button type="button" onclick="location.href='/signup'">
                        Sign Up
            </button>
{% endblock %}


