
{% extends "navigation.html" %}
{% block content %}


    <form method="POST" action="/matching">
        <input type="text" name="username">
        <input type="submit" value="Add User" name="addUser_button">
    </form>


    {% if not noUserFound %}
        <h2>Aucun utilisateur trouvé!</h2>

    {% elif sameUser %}
        <h2>You can not make an appointment with yourself</h2>

    {% else %}
        
        {% if sameSelectedUser == False %}
        <button type="button" onclick="location.href='/add_selected_user/{{foundUsers.id}}/{{foundUsers.username}}'">
            {{foundUsers.username}}
        </button>
        {% else %}
        <h2>You already selected this user</h2>
        {% endif%}
    {% endif %}


    <ul>
        {% for value in selectedUsers.values() %}
        <li>{{ value }} <br>
                {% if value != name %}
                    <form method="POST" action="/matching">
                        <input type="hidden" name="rmUser" value="{{value}}">
                        <input type="submit" value="Remove User" name="rmUser_button">
                    </form>
                {% endif %}
        </li>
        {% endfor %}
    </ul>

    {% if selectedUsers|length > 1 %}
        <button type="button" onclick="location.href='/matching/asked'">
            find common timeslots
        </button>
    {% else %}
        <button type="button" disabled onclick="location.href='/matching/asked'">
            find common timeslots
        </button>
        <p>Select at least another user</p>
    {% endif %}


{% endblock %}