
{% extends "navigation.html" %}
{% block content %}


    <form method="POST" action="/matching">
        <input type="text" name="username">
        <input type="submit" value="Add User" name="addUser_button">
    </form>


    {% if not noUserFound %}
        <h3>No User found</h3>

    {% elif sameUser %}
        <h3>You can not make an appointment with yourself</h3>

    {% else %}
        
        {% if sameSelectedUser == False %}
            {% if foundUsers !=[] %}
        <button type="button" onclick="location.href='/add_selected_user/{{foundUsers.id}}/{{foundUsers.username}}'">
            {{foundUsers.username}}
        </button>
            {% endif %}
        {% else %}
        <h3>You already selected this user</h3>
        {% endif%}
    {% endif %}


    <ul class="selected-users-table">
        {% for value in selectedUsers.values() %}
        <li><h3 class="selected-users-table">{{ value }}</h3>
             <br>
                {% if value != name %}
                    <form method="POST" action="/matching">
                        <input type="hidden" name="rmUser" value="{{value}}">
                        <input type="submit" value="Remove User" name="rmUser_button">
                    </form>
                {% endif %}
        </li>
        {% endfor %}
    </ul>
        <form method="POST" action="/matching" >
            <input type="hidden" name="rmAllUser">
            <input type="submit" value="Remove all selected Users" name="remove_all_selected_users_button" style="background-color: rgb(253, 0, 0);">
        </form>
        <br>

    {% if selectedUsers|length > 1 %}
    <form action="/matching/asked" method="POST">
        <label for="datetime">Choose a date and time:</label>
        <input type="datetime-local" id="datetime" name="datetime" required>
        <input type="submit" value="Find common timeslots" name="select_date" style="background-color: rgb(7, 214, 94);">
    </form>

    {% else %}

        <h3>Select at least another user</h3>
    {% endif %}


{% endblock %}