<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            
            <li><a href="/dashboard">Dashboard</a></li>
            {% if name == None %}
            <li><a href="/login">Login</a></li>
            {% else %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
        </ul>
        {% if not name == None %}
            <div id="username">
            Welcome, {{name}}
            </div>
        {% endif %}
    </nav>

    {%block content%}
    {%endblock%}
</body>
</html>