{% extends "navigation.html" %}
{% block content %}




<form method="POST" action="/matching/asked">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    <table>
        {% for slot in foundSlots %}
        <tr>
            <td>
                {{slot.date() }} - {{slot.time() }}
            </td>
            <td>
                <input type="hidden" name="slot" value="{{slot}}">
                <input type="submit" value="Select this Timeslot" name="slot_button">
            </td>
        </tr>
        {% endfor %}
    </table>
</form>





{% endblock %}


